<table class="table">
    <thead>
        <h3>Tasks</h3>
            <tr>
                <th>Date </th>
                <th>Account </th>
                <th>Contact </th>
                <th>Notes </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <% tasks.each do |task| %>
                    <td><%= task.date %></td>
                    <td><%= link_to task.account.company_name, account_path(task.account) %></td>
                    <% if task.contact %>
                        <td><%= link_to task.contact.name, contact_path(task.contact) %></td>
                    <% end %>
                    <td><%= task.notes %></td>
            </tr>
                <% end %>
        </tbody>
</table>