<h1>Create Your User Account</h1>


<%= link_to "/auth/google_oauth2", method: :post do %> 
    <%= image_tag("google_logo.png", width:"150", class:"google-sign-in") %>
<% end %> 

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
