<div class="dash-container">
    <div class="dash-widget-section-container">
        <div class="dash-widget-container dash-tasks">
            <h4>Tasks</h4>
        </div>
        <div class="dash-widget-container dash-kpis">
            <h4>KPIs</h4>

                <div class="progress-collective-container">
                    <div class="progress-title-container">
                        <div class="progress-title">Calls</div>
                        <div class="progress-title">Income</div>
                        <div class="progress-title">Signatures</div>
                        <div class="progress-title">New Opps</div>
                        <div class="progress-title">New Accnts</div>
                    </div>

                    <div class="progress-bar-container">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <div class="dash-widget-section-container">
        <div class="dash-widget-container dash-connections">
            <h4>Today's Connections</h4>
            <div class="dash-connections-items">
                <div class="dash-connections-items-group">
                    <p>Calls</p><h2>45</h2>
                </div>
                <div class="dash-connections-items-group">
                    <p>Emails</p><h2>45</h2>
                </div>
                <div class="dash-connections-items-group">
                    <p>Social</p><h2>45</h2>
                </div>    
            </div>
        </div>
        <div class="dash-widget-container dash-opportunities">
            <h4>New Opportunities</h4>
        </div>
    </div>

    <div class="dash-widget-section-container">
        <div class="dash-widget-container dash-check">
            <h4>Your Check</h4>
            <div class="dash-check-items">
                <div class="dash-check-items-group">
                    <h2>$4,500.00</h2>
                </div>  
            </div>
        </div>
        <div class="dash-widget-container dash-accounts">
            <h4>New Accounts</h4>
        </div>
    </div>
</div>