<div class="dash-container">
    <div class="dash-widget-container dash-tasks">
        <h4>Tasks</h4>
    </div>
    <div class="dash-widget-container dash-kpis">
        <h4>KPIs</h4>
    </div>
    <div class="dash-widget-container dash-connections">
        <h4>Today's Connections</h4>
        <p>Calls</p>
        <p>Emails</p>
        <p>Social</p>
    </div>
    <div class="dash-widget-container dash-opportunities">
        <h4>New Opportunities</h4>
    </div>
   
</div>