<div class="dash-container">
    <h1>My Dashboard</h1>
    <hr>
    <h2>Today's Tasks</h2>
    <h2>KPIs</h2>

    <h2>Today's Connections</h2>
        <p>Calls</p>
        <p>Emails</p>
        <p>Social</p>

    <h2>New Opportunities</h2>

   

    





</div>