<div class="dash-container">
    <div class="dash-widget-container dash-tasks">
        <h2>Tasks</h2>
    </div>
    <div class="dash-widget-container dash-kpis">
        <h2>KPIs</h2>
    </div>
    <div class="dash-widget-container dash-connections">
        <h2>Today's Connections</h2>
        <p>Calls</p>
        <p>Emails</p>
        <p>Social</p>
    </div>
    <div class="dash-widget-container dash-opportunities">
        <h2>New Opportunities</h2>
    </div>
   
</div>