/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 body {
    background: #f8f8ff;

 }

 .form-container {
    max-width: 980px;
    margin: 0 auto;
 }

 .navbar {    
   background: rgb(13,110,253);
   background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(3,158,189,1) 100%);
 }

 .btn {
   color: white;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

.btn:hover {
   color: black;
   background: rgb(251,192,63);
   background: radial-gradient(circle, rgba(251,192,63,1) 0%, rgba(73,252,70,1) 100%);
}

 .home-container {
    background: #f8f8ff;
    max-width: 500px;
    height: 350px;
    padding: 50px;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
 }

 .head-container {
   display: flex;
   justify-content: space-between;
 }

 .accounts-container {
   background: #f8f8ff;
   max-width: 800px;
   height: 250px;
   margin: 50px auto;
   border-radius: 15px;
   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

.text-home-container {
   display: inline-block;
   margin-top: 10%;
}

.line-1{
   position: relative;
   top: 50%;  
   width: 24em;
   margin: 0 auto;
   border-right: 2px solid rgba(255,255,255,.75);
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   transform: translateY(-50%);    
}

/* Animation from https://css-tricks.com/snippets/css/typewriter-effect/*/
.anim-typewriter{
 animation: typewriter 4s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
 from{width: 0;}
 to{width: 24em;}
}
@keyframes blinkTextCursor{
 from{border-right-color: rgba(255,255,255,.75);}
 to{border-right-color: transparent;}
}


/* Account Show Page */

.show-container {
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   background: rgb(13,110,253);
   background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(3,158,189,1) 100%);    
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}

.account-show-company {
   background: #f8f8ff;
   text-align: center;
   margin: 10px;
   padding: 10px;
   border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}


.contact-opportunity-divs {
   display: flex;
}

.account-show-contact {
   background: #f8f8ff;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   width: 50%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}

.account-show-opportunities {
   background: #f8f8ff;
   margin: 10px;
   padding: 10px;
   width: 50%;
   border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}

.navbar-div-container {
   justify-content: space-between;
}

.navbar-div-2 {
   justify-content: right;
}

.account-show-box {
   display: flex;
   flex-direction: column;
}

.connections-show {
   background: #f8f8ff;
   margin: 10px;
   padding: 10px;
   margin-top: 20px;
   border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}

.active {
   background: orange;
}