.dash-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(13,110,253);
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(3,158,189,1) 100%);    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}

.dash-widget-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #f8f8ff;
    box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);  
}

.dash-tasks {
    width: 33%;
    
}

.dash-kpis {
    width: 33%;
}

.dash-connections {
    width: 33%;
}

.dash-opportunities {
    width: 33%;
}