


.dash-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: rgb(13,110,253);
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(3,158,189,1) 100%);    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  

}

.dash-widget-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #f8f8ff;
    box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);  
}

.dash-widget-section-container {
    display: flex;
}

.dash-tasks {
    width: 40%;
}

.dash-kpis {
    width: 60%;
}

.progress-collective-container {
    display: flex;
}

.progress-title {
    margin-top: 1px;
    border: 1px solid white;
}

.progress-bar-container {
    width: 80%;
}

.progress {
    margin: 10px;
}

.progress-bar {
    background: rgb(111,152,212);
    background: linear-gradient(90deg, rgba(111,152,212,1) 0%, rgba(168,0,215,1) 100%);
}

.dash-connections {
    width: 50%;
}

.dash-connections-items {
    display: flex;
    justify-content: space-between;
    width: 66%;
    text-align: center;
    margin: 0 auto;
}

.dash-connections-items-group {
    flex-direction: column;  
}

.dash-opportunities {
    width: 50%;
}

.dash-check {
    width: 50%;
}

.dash-accounts {
    width: 50%;
}

.dash-check-items-group {
    text-align: center;
}

.dash-links-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.dash-link-item {
    text-decoration: none;
    color: black;
}

.fa-building {
    font-size: 48px;
}